{
    "presets": [
        ["env", 
            { 
                "modules": false,
                "targets": {
                    "node": "current"
                } 
            }
        ],
        "react",
        "stage-1"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-object-rest-spread"
    ],
    "env":{
        "test":{
            "presets":["env"]
        }
    }
}
