.InfoCard .content{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-between;
}

.InfoCard .sideBox{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.InfoCard .geoBox{
    width: 100%;
    height: 150px;
}

.InfoCard .imageBox{
    width: 25%;
    text-align: center;
    height: 150px;
}

.InfoCard .textBox {
    width: 48%;
}

.InfoCard .datetimeBox{
    width: 75%;
}
.InfoCard .textBox p{
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}