.InfoCard .content{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-between;
}

.InfoCard .sideBox{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.InfoCard .geoBox{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.InfoCard .imageBox{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}
.InfoCard .imageBox img{
    margin-right: 5px;
    max-height: 100px;
}

.InfoCard .textBox {
    width: 48%;
}

.InfoCard .datetimeBox{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}
.InfoCard .textBox p,
.InfoCard .uriBox p{
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}