.Axis line{
    stroke: #888;
}
.Axis .legendline{
    stroke: #000;
    stroke-width: 1px;
}
.Axis text{
    fill: #666;
}
.Axis rect{
    fill: transparent;
}
.Axis select{
    width: 100px;
}
.Axis .selectable {
    cursor: pointer;
}
.Axis .selectable:hover text{
    fill: #888;
}
.Axis .selectable:hover line{
    stroke: #888;
}
.Axis .offsetRect {
    cursor: pointer;
}
