.Graphs {
    font-size: 0.8em;
}
ul.graphList {
    margin: 0;
    padding: 0;
    display: inline-block;
}
ul.graphList li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    list-style-position: inside;
}