.Header {
    position: absolute;
    width: 100%;
    z-index: 10;
}
.Header .cache{
    box-shadow: 0px 3px 5px 6px #fff;

}
.Header .line {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #ababab;
    box-shadow: 0px 3px 3px 0px #ababab;
}
.Header .logo {
    display: flex;
    align-items: center;
}
.Header .field {
    display: flex;
    margin: 0;
    padding: 0 0 2px 0;
    align-items: center;
    min-height: 35px;
}
.Header .control, .Header .dropdown {
    margin-right: 10px;
}
.Header .label {
    text-align: right;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    padding-top: 10px;
    font-weight: normal;
    margin: 0;
}
.Header .label-like {
    font-size: 0.8em;
}
.Header .pointer {
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    padding: 0 0 0 10px; 
    width: 75px;
}
.Header .greyed {
    opacity: 0.5;
}
.Header .pointer-group {
    margin-right: 10px;
}
.propSelector__placeholder,
.propSelector__single-value {
    top: 60% !important;
    margin-left: 0 !important;
}
.Header .error {
    color: #f00;
    font-size: 0.7em;
    padding-left: 45px;
}
.Header select, .Header input, .Header .dropdown, .Header .control {
    width: 150px;
}
.Header input {
    padding-top: 8px;
    display: inline-block;
}
.Header .dropdown {
    width: 45px;
    margin-top: -3px;
}
.Header .dropdown-content {
    margin-top: 14px;
    width: 140px;
}
.Header .dropdown-menu {
    min-width: auto;
}
.Header .dropdown-item {
    display: flex;
    height: 40px;
    align-items: center;
}
.Header .dropdown-item img {
    margin-right: 5px;
}
.Header .dropdown-trigger {
    margin-top: 0;
}
.Header .dropdown-trigger .button{
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
}
.Header .dropdown img {
    background: #666;
    border-radius: 3px;
}
.Header .dropdown-item {
    padding: 5px 15px 0 15px;
}
.Header button, .Header .button{
    margin-top:-14px;
    cursor: pointer;
}
.Header .text-progress {
    padding-left: 10px;
    display: inline-block;
}
.Header .submit .button {
    height: 28px;
    width: 29px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.Header .submit .icon {
    padding-left: 15px;
    position: absolute;
}
.Header .propSelector p {
    font-size: 1.5em;
}
.Header .propSelector select {
    margin-top: 18px;
}
.Header .resource-def {
    font-size: 0.7em;
    height: 20px;
    padding: 5px 0 0 35px;
    cursor: pointer;
    font-weight: bold;
}
.Header .explain .resource-def {
    width: auto;
    height: auto;
    padding-left: 5px;
    font-size: 0.8em;
}
.Header .explain .resource-content {
    font-size: 1.2em;
    max-height: 400px;
    max-width: 500px;
    overflow-y: scroll;
}
.Header .resource-content {
    display: none;
    margin-top: -8px;
    padding: 2px 8px 5px 8px;
    background: #fff;
    z-index: 100;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.Header .resource-def span.resource-content {
    position: absolute;
}

.Header .resource-def:hover .resource-content {
    display: inline-block;
    width: 450px;
}
.Header .explain .resource-content {
    padding: 20px 25px;
    position: absolute;
    font-weight: normal;
}
.Header .explain p {
    font-size: 0.8em;
    color: #a5a5a5;
    display: inline-block;
}
.Header .explain p strong {
    color: #414141;
}
.Header .explain span {
    display: inline-block;
    color: #a5a5a5;
}
.Header .explain .path {
    font-size: 0.8em;
    color: #a5a5a5;
    padding-bottom: 15px;
}
.Header .explain .path .pathlabel {
    color: #414141;
}
.Header .explain ul {
    padding-bottom: 15px;
}
.Header .explain ul li {
    display: inline-block;
    font-size: 0.8em;
    padding-right: 5px;
}
.Header .explain ul span {
    font-size: 0.8em;
    padding-right: 5px;
}
