.History .config {
    fill: #000;
}
.History .config.selected, .History .config:hover {
    fill: #ff0090;
}
.History .config:hover {
    cursor: pointer;
}
.History .config.nochange {
    fill: #ccc;
}
