.Images {
    
}
.Images .content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.Images .content span {
    width: 60px;
    text-align: center;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Images .content img {
    max-width: 50px;
    max-height: 75px;
}
