html,
body,
#root {
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.view {
    margin: 0 auto;
}
.button {
    position: fixed !important;
}

svg {
    user-select: none;
}
.closebox {
    float: right;
    cursor: pointer;
}