.propSelector p {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;    
    padding-top: 5px;
}
.propSelector p.right {
    text-align: right;
}
.propSelector p.right span {
    display: inline-block;
}
.propSelector select {
    font-size: 0.75em;
    outline: none;
    text-align: right;
}
.propSelector select.right {
    direction: rtl;
}
.propSelector select option {
    text-align: right;
    direction: ltr;
}

.propSelector text {
    font-size: 0.75em;
    font-weight: bold;
}

.propSelector__menu {
    width: 500px !important;
}
.propSelector__control, .viewSelector__control {
    font-size: 0.75em;
    min-height: 28px !important;
}
.propSelector__value-container {
    padding: 0 8px !important;
}
.propSelector__indicator,
.propSelector__dropdown-indicator {
    padding: 0 !important;
}
.propSelector__option {
    font-size: 0.75em !important;
}

.viewSelector__control {
    width: 80px;
}
