.Header .Explain .resource-def {
    margin-left: 5px;
    top: -2px;
}
.Explain {
    position: relative;
    top: 45px;
}
.Explain p {
    font-size: 0.8em;
    color: #a5a5a5;
    display: inline-block;
}

.Explain p strong {
    color: #414141;
}

.Explain span {
    display: inline-block;
    color: #a5a5a5;
}

.Explain .path {
    font-size: 0.8em;
    color: #a5a5a5;
    padding-bottom: 15px;
}

.Explain .path .pathlabel {
    color: #414141;
}

.Explain ul {
    padding-bottom: 15px;
}

.Explain ul li {
    display: inline-block;
    font-size: 0.8em;
    padding-right: 5px;
}

.Explain ul span {
    font-size: 0.8em;
    padding-right: 5px;
}
