.Pivot {
    cursor: pointer;
    position: fixed;
    font-size: 0.8em;
    z-index: 20;
    left: 15px;
    top: 170px;
    
}
.Pivot button {
    font-size: 1em;
}
.Pivot button {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.Pivot button li:hover span{
    background: #3273dc;
    color: #ddd;
}
.Pivot .title {
    font-weight: bold;
}