.PropSelect__menu {
    width: 500px !important;
}

.PropSelect__control {
    font-size: 0.75em;
    min-height: 28px !important;
}

.PropSelect__control--is-focused .PropSelect__value-container .tag {
    opacity: 0.5;
}

.PropSelect__value-container {
    padding: 0 8px !important;
}

.PropSelect__value-container input {
    padding-top: 8px;
}

.PropSelect__indicator,
.PropSelect__dropdown-indicator {
    padding: 0 !important;
}

.PropSelect__option {
    font-size: 0.75em !important;
}

.PropSelect__placeholder,
.PropSelect__single-value {
    top: 60% !important;
    margin-left: 0 !important;
}
