.Quantifier {
    display: flex;
    align-items: center;
}

.Quantifier .text-progress {
    padding-left: 10px;
    display: inline-block;
}
.Quantifier progress {
    
}
.Quantifier progress::-webkit-progress-bar {
    
}
.Quantifier progress::-webkit-progress-value {
    background-color:#888;
} 
.Quantifier progress::-moz-progress-bar-value {
    background-color:#888;
}