.Selection {
    cursor: pointer;
    position: fixed;
    font-size: 0.8em;
    z-index: 20;
    left: 15px;
    top: 138px;
}
.Selection button {
    font-size: 1em;
}

.Selection .icon {
    padding-left: 10px;
}