.Slider {
    position: absolute;
    right: 10px;
    top: 140px;
    z-index: 20;
    height: 40px;
    display: flex;
    align-items: center;
}
.Slider input {
    width: 65px !important;
    margin: 10px 8px;
}
.Slider img {
    cursor: pointer;
}