.Submit button,
.Submit .button {
    margin-top: -14px;
    cursor: pointer;
}

.Submit .button {
    height: 28px;
    width: 29px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
}
.Submit .button:focus{
    outline: none;
    box-shadow: none;
    border-color: #666;
}

.Submit .icon {
    padding-left: 15px;
    position: absolute;
}
@-moz-document url-prefix() {
    .Submit .icon {
        padding-left: 0px;
        position: absolute;
    }
}