.ViewSelect__control {
    font-size: 0.75em;
    min-height: 28px !important;
    width: 60px;
    margin-right: 10px;
}

.ViewSelect__value-container input {
    padding-top: 8px;
}

.ViewSelect__value-container span {
    display: none;
}

.ViewSelect__value-container img,
.ViewSelect__menu img {
    width: 20px;
    background: rgb(102, 102, 102);
    border-radius: 2px;
}

.ViewSelect__menu img {
    width: 30px;
}

.ViewSelect__menu {
    width: 150px !important;
}

.ViewSelect__menu span {
    font-size: 0.8em;
    margin-left: 10px;
}

.ViewSelect__indicator,
.ViewSelect__dropdown-indicator {
    padding: 0 !important;
}
