.Settings {
    font-size: 0.8em;
}
.Settings ul{
    max-height: 350px;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.Settings ul li{
    line-height: 1.1em;
    padding: 0;
    margin: 0;
}